.main{
  padding-left: 1rem;
}
.moviesPageContainer{
  display: flex;
  flex-wrap: wrap;
  /* gap: 1rem; */
  justify-content: flex-start;
  /* width: auto; */
}

.li{
  list-style: none;
}

.movieContainer{
  width: 20rem;
  margin: 0 1rem;
  border-radius: 1rem solid;
  /* border: 0.1rem solid; */
  /* height: 40rem; */
  text-align: center;
  cursor: pointer;
  /* background-color: rgb(206, 199, 199); */
}